<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Uptime - STARFLY-13 Server Management - Server</title>
    <link type="text/css" rel="stylesheet" href="css/server.css" />
</head>
<body>
    <div id="header">
        <div id="user-plate">
            <span>
                <img src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.webp?size=32" alt="User Avatar" /> {{user.global_name}}
            </span>
        </div>
    </div>

    <div id="server-status">
        <img src="{{server.statusImageUrl}}" alt="Server is {{server.status}}" class="server-status-image" />
        <p>Server {{server.status}} <br />Duration: {{server.duration}}</p>
    </div>

    {{#if user.isAdmin}}
    <div id="admin-controls">
        <form method="POST" action="/server">
            <textarea id="adminMessage" name="adminMessage">{{server.defaultMessage}}</textarea>
            <div>
                <input type="checkbox" id="uptimeRole" name="uptimeRole" checked />
                <label for="uptimeRole">Ping @Uptime role on Discord</label>
            </div>
            <button id="server-action">
                {{#if server.isUp}}Stop Server{{else}}Start Server{{/if}}
            </button>
        </form>
    </div>
    {{/if}}
</body>
</html>
